---
// Props esperadas: title, classe, nivel, raca, imagem, slug, excerpt
const { name, class: classe, level, slug, excerpt } = Astro.props;
---

<article
  class="rounded-lg shadow-md p-4 hover:shadow-lg transition bg-hero-card bg-cover aspect-[2/3] w-full"
>
  <a href={`/personagens/${slug}/`}>
    <h2 class="text-xl font-bold mb-1">{name}</h2>
    <p class="text-sm text-neutral-600">{classe} • Nível {level}</p>
    <p class="mt-2 text-sm text-neutral-700 line-clamp-3">{excerpt}</p>
  </a>
</article>
